/*
	Name:			Standardtemplate
	Author:			Adrian Preuss
	Version:		1.0
	Type:			html
	Author Mail:	a.preuss@hovida-design.de
	Author WWW:		www.hovida-design.de
*/
<html>
	<head>
		<title>[TITLE] - [SUBJECT]</title>
		<style type="text/css">
			body {
				margin: 0;
				padding: 0;
				font-family: Arial;
			}

			div.wrapper {
				width: 960px;
				margin: 0 auto;
				border: 1px solid #DDDDDD;
			}

			div.wrapper h1 {
				padding: 10px;
				margin: 0;
				background: #444444;
				color: #FFFFFF;
			}
			
			div.wrapper p {
				padding: 10px;
			}
		</style>  
	</head>  
	<body>	 
		<div class="wrapper">	  
			<h1>[TITLE] Newsletter</h1>	
			<p>[TEXT]</p>
		</div>   
	</body>
</html>